# FOR THE BACKEND APP
backend/api/node_modules/
backend/api/.env
backend/api/.env.development
backend/api/files/audios/*
!backend/api/files/audios/.gitkeep
backend/api/dist/*
!backend/api/dist/.gitkeep

# ================================
# FOR THE FRONTEND APP
# dependencies
frontend/samwaktou-react-app/node_modules/
frontend/samwaktou-react-app/.pnp
frontend/samwaktou-react-app/.pnp.js

# testing
frontend/samwaktou-react-app/coverage

# production
frontend/samwaktou-react-app/build

# misc
frontend/samwaktou-react-app/.DS_Store
frontend/samwaktou-react-app/.env.local
frontend/samwaktou-react-app/.env.development.local
frontend/samwaktou-react-app/.env.test.local
frontend/samwaktou-react-app/.env.production.local
frontend/samwaktou-react-app/.env.production

frontend/samwaktou-react-app/npm-debug.log*
frontend/samwaktou-react-app/yarn-debug.log*
frontend/samwaktou-react-app/yarn-error.log*
