@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.search {
  width: 75%;
  position: relative;
  display: flex;
  min-width: 200px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 2px;
}

.searchTerm {
  width: 100%;
  border: 2px solid #107B7E;
  border-right: none;
  padding: 7px 7px 7px 15px;
  height: 17px;
  border-radius: 17px 0 0 17px;
  outline: none;
  color: #107B7E77;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchTerm:focus{
  color: #107B7E;
}

.searchButton {
  width: 100px;
  height: 35px;
  border: 0px;
  background: #107B7E;
  text-align: center;
  color: #fff;
  border-radius: 0 17px 17px 0;
  cursor: pointer;
  font-size: 11px;
}

.wrap{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #cee0e0;
  z-index: 3;
}

.advanceSearchContainer{
  border-radius: 5px;
  padding: 5px;
  min-width: 250px;
}

.formItemBox{
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.searchFilterComponent input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.submitButton{
  justify-content: flex-end;
}

.errorMessageContainer{
  color: red;
  font-style: italic;
  font-size: 13px;
  text-align: center;
}