@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 70%;
  min-width: 200px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.advanceSearchContainer{
  border-radius: 5px;
  padding: 5px;
  min-width: 250px;
}

.formItemBox{
  width: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

.searchFilterComponent input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.submitButton{
  justify-content: flex-end;
}

.errorMessageContainer{
  color: red;
  font-style: italic;
  font-size: 13px;
  text-align: center;
}